.mesas-container {
    text-align: center;
    padding: 20px;
  }
  
  .mesas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .mesa-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    text-align: center;
  }

  .mesa-card.ocupada {
    background-color: #f8d7da; /* Color rojo claro para mesas ocupadas */
    cursor: not-allowed; /* Cambiar el cursor para indicar que no se puede hacer clic */
  }
  
  .mesa-card.disponible {
    background-color: #d4edda; /* Color verde claro para mesas disponibles */
    cursor: pointer; /* Cambiar el cursor a pointer para indicar que se puede hacer clic */
  }
  
  .mesa-card.disabled {
    background-color: #ffaeb5;
    pointer-events: none; /* Deshabilita todos los eventos de clic */
    opacity: 0.6; /* Opcional: reduce la opacidad para dar la apariencia de estar deshabilitado */
  }
  
  .mesa-car.ocupada:hover {
    background-color: #ffaeb5; /* Rojo bajito */
  }
  .mesa-card.disponible:hover {
    background-color: #a0f9b5; /* Verde bajito */
  }

  
  .capacidad-form {
    margin-top: 20px;
  }
  
  input[type="number"] {
    margin-right: 10px;
  }
  .mesas-container {
    padding: 20px;
  }
  
  .mesas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  

  .capacidad-form {
    max-width: 400px;
    margin: 50px auto; /* Centra el formulario y lo posiciona más abajo */
    padding: 20px;
    border: 1px solid #b7b6b6;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-block {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-block label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .form-block input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #acacac;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .form-buttons {
    text-align: center;
  }
  
  .form-buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .form-buttons button:last-child {
    background-color: #dc3545; /* Color rojo para el botón de cancelar */
  }
  
  .form-buttons button:hover {
    opacity: 0.9;
  }