.ocupadas-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .ocupadas-container h1{
    text-align: center;
  }
  
  .mesas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .mesa-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Aumenta el padding de la tarjeta */
    width: 320px; /* Ajusta el ancho de la tarjeta */
    text-align: left; /* Alinea el texto a la izquierda */
  }
  
  .mesa-card h2 {
    font-size: 1.5em;
    margin-bottom: 25px;
    text-align: center; /* Título de la mesa centrado */
  }
  
  .pedido-list h3,
  .total h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .add-product-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 15px; /* Espacio debajo del botón */
    transition: background-color 0.3s;
  }
  
  .add-product-btn:hover {
    background-color: #45a049;
  }
  
  .pedido-list ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 35px;
  }
  
  .pedido-list li {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .total p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .mesa-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-pagar,
  .btn-desocupar {
    padding: 8px 12px; /* Reduce el tamaño de los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Reduce un poco el tamaño del texto */
    transition: background-color 0.3s;
  }
  
  .btn-pagar {
    background-color: #28a745;
    color: white;
  }
  
  .btn-pagar:hover {
    background-color: #218838;
  }
  
  .btn-desocupar {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-desocupar:hover {
    background-color: #c82333;
  }